<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<a href="#" th:href="@{/logout}">Log out</a>
<hr/>
<br/>

<form th:method="PATCH" th:action="@{/admin/id={id}(id=${editedUser.getId()})}" th:object="${editedUser}">

    <label for="username">Email: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username is incorrect</div>
    <br/>

    <label for="username">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password is incorrect</div>
    <br/>

    <label for="username">First Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Username is incorrect</div>
    <br/>

    <label for="username">Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Username is incorrect</div>
    <br/>

    <label for="username">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age is incorrect</div>
    <br/>

    <input type="submit" value="Update"/>
</form>

</body>
</html>

<!--|ADMIN| |ALL USERS| |EDIT| MODAL-->
<div class="modal fade"
     th:id="${'editUser'+user.id}"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog">

        <!-- |ADMIN| |ALL USERS| |EDIT| CONTENT-->
        <div class="modal-content">

            <!-- |ADMIN| |ALL USERS| |EDIT| HEADER-->
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- |ADMIN| |ALL USERS| |EDIT| END OF HEADER-->

            <!-- |ADMIN| |ALL USERS| |EDIT| FORM-->
            <div class="modal-body m-auto">
                <form th:id="${'editForm'+user.id}"
                      th:method="PUT"
                      th:action="@{/admin/id={id}(id=${user.getId()})}">

                    <!-- |ADMIN| |ALL USERS| |EDIT| ID-->
                    <div class="form-group text-center">
                        <label for="edit_id" style="margin-bottom: 0">
                            <strong>ID</strong>
                        </label>
                        <input class="form-control form-control-sm"
                               type="text" th:value="*{user.id}"
                               id="edit_id" required>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF ID-->

                    <!-- |ADMIN| |ALL USERS| |EDIT| FIRST NAME-->
                    <div class="form-group text-center">
                        <label for="edit_first_name"
                               style="margin-bottom: 0">
                            <strong>First name</strong>
                        </label>
                        <input class="form-control form-control-sm"
                               type="text" th:value="*{user.firstName}"
                               id="edit_first_name" required>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF FIRST NAME-->

                    <!-- |ADMIN| |ALL USERS| |EDIT| LAST NAME-->
                    <div class="form-group text-center">
                        <label for="edit_last_name"
                               style="margin-bottom: 0">
                            <strong>Last name</strong>
                        </label>
                        <input class="form-control form-control-sm"
                               type="text" th:value="*{user.lastName}"
                               id="edit_last_name" required>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF LAST NAME-->

                    <!-- |ADMIN| |ALL USERS| |EDIT| AGE-->
                    <div class="form-group text-center">
                        <label for="edit_age"
                               style="margin-bottom: 0">
                            <strong>Age</strong>
                        </label>
                        <input class="form-control form-control-sm"
                               type="number" th:value="*{user.age}"
                               id="edit_age" required>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF AGE-->

                    <!-- |ADMIN| |ALL USERS| |EDIT| EMAIL-->
                    <div class="form-group text-center">
                        <label for="edit_username"
                               style="margin-bottom: 0">
                            <strong>Email</strong>
                        </label>
                        <input class="form-control form-control-sm"
                               type="text" th:value="*{user.username}"
                               id="edit_username" required>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF EMAIL-->

                    <!-- |ADMIN| |ALL USERS| |EDIT| PASSWORD-->
                    <div class="form-group text-center">
                        <label for="edit_password"
                               style="margin-bottom: 0">
                            <strong>Password</strong>
                        </label>
                        <input class="form-control form-control-sm"
                               type="text" th:value="*{user.password}"
                               id="edit_password" required>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF PASSWORD-->

                    <!-- |ADMIN| |ALL USERS| |EDIT| ROLE-->
                    <div class="form-group text-center">
                        <label for="edit_role"
                               style="margin-bottom: 0">
                            <strong>Role</strong>
                        </label>
                        <select class="form-control form-control-sm"
                                multiple size="2"
                                id="edit_role" required>
                            <th:block th:each="role : ${roles_set}">
                                <option th:text="${role}"
                                        th:value="${role.roleName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <!-- |ADMIN| |ALL USERS| |EDIT| END OF ROLE-->

                    </fieldset>
                </form>
            </div>
            <!-- |ADMIN| |ALL USERS| |EDIT| END OF FORM-->

            <!-- |ADMIN| |ALL USERS| |EDIT| BUTTONS-->
            <div class="modal-footer">
                <button class="btn btn-secondary"
                        type="button"
                        data-dismiss="modal">Close
                </button>
                <button class="btn btn-info"
                        type="submit"
                        th:form="${'editForm'+user.getId()}">Edit
                </button>
            </div>
            <!-- |ADMIN| |ALL USERS| |EDIT| END OF BUTTONS-->
        </div>
        <!-- |ADMIN| |ALL USERS| |EDIT| END OF CONTENT-->
    </div>
</div>
<!--|ADMIN| |ALL USERS| |EDIT| END OF MODAL-->