<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<a href="#" th:href="@{/logout}">Log out</a>
<hr/>
<br/>

<form th:method="POST" th:action="@{/admin}" th:object="${newUser}">

    <label for="username">Name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username is incorrect</div>
    <br/>

    <label for="username">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password is incorrect</div>
    <br/>

    <label for="username">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age is incorrect</div>
    <br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>