<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${newUser}">

    <label for="name">Name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{username}">Name is incorrect</div>
    <br/>

    <label for="name">Last name: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('lastName')}" th:errors="*{password}">Last name is incorrect</div>
    <br/>

    <label for="name">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age is incorrect</div>
    <br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>