<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<a href="#" th:href="@{/logout}">Log out</a>
<hr/>
<br/>

<p th:text="${'ID: ' + current_user.getId()}">VALUE</p>
<p th:text="${'Email: ' + current_user.getUsername()}">VALUE</p>
<p th:text="${'First Name: ' + current_user.getFirstName()}">VALUE</p>
<p th:text="${'Last Name: ' + current_user.getLastName()}">VALUE</p>
<p th:text="${'Age: ' + current_user.getAge()}">VALUE</p>

</form>
</body>
</html>